<div id="nav">
    <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Dashboard</a>
    <a routerLinkActive="active" routerLink="/siredirectory">Sire Directory</a>
    <a routerLinkActive="active" routerLink="/search">Advanced Search</a>
    <a routerLinkActive="active" routerLink="/indexes">WWS Indexes</a>
    <a routerLinkActive="active" routerLink="/cataloggenerator">Catalog Generator</a>
    <a routerLinkActive="active" routerLink="/bullpagegenerator">Bull Page Generator</a>
    <a routerLinkActive="active" routerLink="/lineargenerator">Linear Generator</a>
    <a routerLinkActive="active" routerLink="/photogallery">Photo Gallery</a>
    <a routerLinkActive="active" routerLink="/pedigreesearch">Pedigree Search</a>
    <a routerLinkActive="active" routerLink="/dnasearch">DNA Search</a>
    <a routerLinkActive="active" routerLink="/admin">Administration</a>
</div>